[submodule "packages/libp2p-ipfs-nodejs"]
	path = packages/libp2p-ipfs-nodejs
	url = git@github.com:ipfs/js-libp2p-ipfs-nodejs.git
[submodule "packages/libp2p-swarm"]
	path = packages/libp2p-swarm
	url = git@github.com:libp2p/js-libp2p-swarm.git
[submodule "packages/libp2p-multiplex"]
	path = packages/libp2p-multiplex
	url = git@github.com:libp2p/js-libp2p-multiplex.git
[submodule "packages/libp2p-spdy"]
	path = packages/libp2p-spdy
	url = git@github.com:libp2p/js-libp2p-spdy.git
[submodule "packages/js-ipfs"]
	path = packages/js-ipfs
	url = git@github.com:ipfs/js-ipfs.git
[submodule "packages/interface-ipfs-core"]
	path = packages/interface-ipfs-core
	url = git@github.com:ipfs/interface-ipfs-core.git
[submodule "packages/js-ipfs-api"]
	path = packages/js-ipfs-api
	url = git@github.com:ipfs/js-ipfs-api.git
